h1 {
    font-size: 50px;
}

#green-yellow {
    color: greenyellow;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(greenyellow, green);
    background-color: greenyellow;
    padding: 10px 40px;
    color: white;
    font: weight 700px;
    border-radius: 5px;
}

.half-width {
    width: 500%;
    padding-left: 12%;
}

.half-width img {
    width: 60%;
}

.flexible-container {
    display: flex;
    margin-bottom: 50px;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}

.text-position {
    text-align: center;
}

div img {
    width: 30%;
}

.experience-item {
    width: 40%;
    padding: 20px;
    margin-left: 1%;
    margin-right: 1%;
    border-radius: 10px;

}

.color-blue {
    background-color: rgb(204, 224, 232);
}

.color-pink {
    background-color: rgb(241, 201, 208);
}

.color-yellow {
    background-color: rgb(247, 218, 183);
}

.margin-side {
    margin-left: 160px;
    margin-right: 190px;
}

.flexible-container-1 {
    display: flex;
    margin-bottom: 50px;
    margin-right: 30%;
    width: 88%;
}

.margin-correct {
    width: 900%;
    padding: 25px;

}

.margin-correct img {
    width: 60%;
    margin-left: 90px;
}

.develope-shape {
    background-image: url(images/shapes/dream-bg.png);
    background-repeat: no-repeat;
    background-position: left;
    margin-left: 40px;
}

.flexible-container-2 {
    display: flex;
    margin-bottom: 50px;
    margin-right: 30%;
    width: 109%;

}

.margin-new img {
    width: 50%;
}

.margin-new {
    width: 300%;
    padding-left: 150px;
    padding-bottom: 25px;

}

.border-line {
    border-left: 5px solid greenyellow;
    border-image: black;
}

.black-color {
    background-color: black;
}

.white-color {
    color: white;
}